/*  your css code here. If applicable */
img{
	height: 200px;
}




#scroll-container {
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  font-size: 24px;
  transform: translateX(100%);
  animation: my-animation 15s linear infinite;
}


@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }